name: Lychee Link Checker

on:
  workflow_dispatch:

jobs:
  link-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Restore Lychee Cache
        uses: actions/cache@v4
        with:
          path: .lychee-cache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - name: Run Lychee link checker
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          args: "--recursive --exclude-mail --timeout 10 --cache .lychee-cache --max-cache-age 7 --format json"
          output: lychee-report.md

      - name: Save Lychee Cache
        if: always()
        uses: actions/cache@v4
        with:
          path: .lychee-cache
          key: cache-lychee-${{ github.sha }}

      - name: Upload Lychee Report
        uses: actions/upload-artifact@v4
        with:
          name: lychee-report
          path: lychee-report.md
